<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="{f:if(condition: '{layout}', then: '{layout}', else: 'Default')}"/>

<f:section name="Main">
    <main role="main">
        <f:format.html parseFuncTSPath="lib.parseFunc">{normal}</f:format.html>
    </main>
</f:section>

<f:section name="FooterAssets">
    <f:asset.script identifier="appJs" src="EXT:site-distribution/Resources/Public/JavaScript/app.js" />
    <f:asset.css identifier="appCss" href="EXT:site-distribution/Resources/Public/Css/app.css" />
</f:section>

</html>
